on: push
name: Lints
jobs:
  Clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Dependencies
        shell: bash
        run: |
          sudo apt install --yes protobuf cmake go
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: none
      - run: rustup component add clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

  Format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Dependencies
        shell: bash
        run: |
          sudo apt install --yes protobuf cmake go
      - id: component
        uses: actions-rs/components-nightly@v1
        with:
          component: rustfmt
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: none
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check